@model MVC.PL.Models.AdminModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Page";
}



    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#single">Users</a></li>
        <li><a href="#multiple">Skill Categories</a></li>
        <li><a href="#statistics">Statistics</a></li>
    </ul>

<div class="tab-content">
    <div class="tab-pane active" id="single">
        <h3>Manage Users</h3>
        @using (@Ajax.BeginForm("Index", "Admin", new AjaxOptions() {}))
        {
            foreach (var item in Model.userRole)
            {
                @Html.Partial("_UserView", item)
                ;
            }
        }
    </div>
    <div class="tab-pane" id="multiple">
        <div class="container">
            <div class="col-md-9">
                <h3>Manage skills and categories</h3>
            </div>
        </div>
        <div class="tab-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-info btn-md pull-right" data-toggle="modal" data-target="#CategoryAdd">Add category</button>
                    </div>
                    <div id="CategoryAdd" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Enter the name of category you wan't to add.</h4>
                                </div>
                                <div class="modal-footer">
                                    @using (Html.BeginForm("AddCategory", "Admin"))
                                    {
                                        @Html.TextBox("categoryName")
                                        <input type="submit" name="saveButton" value="Go" class="btn btn-info btn-md pull-right">
                                    }
                                    @*@Html.ActionLink("Go", "AddCategory", "Admin", new { categoryName = ViewBag["categoryName"] }, new { @class = "btn btn-danger pull-right btn-lg" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            @foreach (var p in Model.skills)
            {
                @Html.Partial("_SkillAdminView", p)
            }

        </div>
    </div>
    <div class="tab-pane" id="statistics">
        <h3>Generate otchety</h3>
        @foreach (var p in Model.skills)
        {
            @Html.Partial("_SkillAdminView", p)
        }
    </div>
</div>


<script>
    $(function() {
        $('#myTab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>