@model MVC.PL.Models.UserRoleModel
<div class="well">
    <div class="row">
        <div class="col-md-4">@Model.Email</div>
        <div class="col-md-3">@Model.Login</div>
        <div class="col-md-3">
            <ul>
                @foreach (var role in Model.Roles)
                {
                    <li name=@Model.id>
                        <div class="tab-content">@role</div>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-2">
            <style>.btn-space .btn { margin-bottom: 5px }</style>
            @if (!User.Identity.Name.Contains(Model.Email) && !User.Identity.Name.Contains(Model.Login) && !Model.Login.Contains(User.Identity.Name) && !Model.Email.Contains(User.Identity.Name))
            {
                <div class="container">
                    <div class="row">
                        <div class="btn-space">
                            <button type="button" class="btn btn-danger btn-lg btn-block btn-space" data-toggle="modal" data-target="#@Model.id">Delete account</button>
                            <div id="@Model.id" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Are you sure that you wan't delete @Model.Login's account?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            @Ajax.ActionLink("Delete", "Delete", "Admin", new {userId = Model.id}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "All", OnBegin = "CloseModal" /* OnSuccess = "function (response) {window.location.href = response.Url;}"*/}, new { @class = "btn btn-danger btn-lg btn-block btn-space" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary btn-lg btn-block btn-space" data-toggle="modal" data-target="#Role-@Model.id">Manage roles</button>
                            <div id="Role-@Model.id" aria-hidden="true" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Role settings for @Model.Login account</h4>
                                        </div>
                                        <div class="modal-footer">
                                            @foreach (var role in Model.Roles)
                                            {
                                                @Ajax.ActionLink($"Remove {@role} rights", "RemoveRole", "Admin", new {userId = Model.id, roleName = role}, new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = @Model.id + "-ManageRights", OnBegin = "CloseModal" /* OnSuccess = "function (response) {window.location.href = response.Url;}"*/}, new {@class = "btn btn-danger btn-lg btn-block btn-space"})
                                            }
                                            @foreach (var role in Model.AllRoles.Except(Model.Roles))
                                            {
                                               @Ajax.ActionLink($"Add {@role} rights", "AddRole", "Admin", new {userId = Model.id, roleName = role}, new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = @Model.id + "-ManageRights", OnBegin = "CloseModal" /* OnSuccess = "function (response) {window.location.href = response.Url;}"*/}, new {@class = "btn btn-info btn-lg btn-block btn-space"})
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function CloseModal() {
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }
</script>